$max-width: 600px;
$border-color: #ccc;
$padding-item: 16px;
$padding-right: 60px;

/* 全体 */
.main {
  max-width: $max-width;
  margin: 0 auto;
}

/* 入力フォームの中央揃え */
.todo-input {
  display: flex;
  justify-content: center; /* 横中央 */
  margin: 24px 0;

  input {
    width: 100%;
    max-width: 600px;
    padding: 12px 16px;
    font-size: 16px;
  }
}

.todo-item {
  display: flex;
  justify-content: center; /* 横中央 */
  margin: 24px 0;
}

/* Todo1件 */
.item {
  font-size: 20px;
  padding: $padding-item $padding-right $padding-item $padding-item;
  border-bottom: 2px solid $border-color;
  position: relative;
}