$max-width: 600px;
$border-color: #ccc;
$padding-item: 16px;
$padding-right: 60px;

/* 全体 */
.main {
  max-width: $max-width;
  margin: 0 auto;
}

/* 入力フォームの中央揃え */
.todo-input {
  display: flex;
  justify-content: center; /* 横中央 */
  margin: 24px 0;

  input {
    width: 100%;
    max-width: 600px;
    padding: 12px 16px;
    font-size: 16px;
  }
}

.todo-item {
  display: flex;
  justify-content: center; /* 横中央 */
  margin: 24px 0;
}

/* Todo1件 */
.item {
  font-size: 20px;
  padding: $padding-item $padding-right $padding-item $padding-item;
  border-bottom: 2px solid $border-color;
  position: relative;
}

.todo-title {
  color: #000;
}

.todo-titledone {
  color: #aaa; // グレーアウト
  text-decoration: line-through; // 打ち消し線（不要なら消してOK）
}

/* 元のTodoチェックボックスを非表示にする */
.todo-checkbox {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  /* Aの画像（チェック前）を表示する */
  background-image: url("images/checkbox-off.png");
}

/* チェックされた時のBの画像を表示する */
.todo-checkbox:checked {
  background-image: url("images/checkbox-on.png");
}
