/* Main.css */
.Main-title {
    width: 550px;
    height: 65px;
    font-size: 20px;
    padding: 16px 60px 16px 16px; /* 左に余白を取る */
    border-bottom: 2px solid #d3d3d3; /* 下線だけ */
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-title.done {
  text-decoration: line-through;
  opacity: 0.6;
}