$title-color: #b83f45;
$title-font: 'Noto Serif JP', serif;
$title-size: 80px;

.header-title {
  font-size: $title-size;
  color: $title-color;
  font-family: $title-font;
  text-align: center;
  width: 100%;
}